
*.pem
*.csr
*.key
*.crt
*.p12
*.jks
*.sh
keys/
**/certs/
.env
*.md
*.txt

**/build/
**/managed_components/
**/sdkconfig.old
*(Copy)*

**/target/
**/.gradle/
**/.mvn/
!**/src/main/resources/static/

.idea/
.vscode/
*.iml
.DS_Store

mosquitto/data/
mosquitto/log/
mosquitto/config/regras_acesso.acl

backup/
testcontrollers/
tips.txt
