
*.pem
*.csr
*.key
*.crt
*.p12
*.jks
keys/
**/certs/
.env
*.txt

# Ignorar .md genéricos mas preservar arquivos raiz 
*.md
!README.md
!CONTRIBUTING.md

**/build/
**/managed_components/
**/sdkconfig.old
*(Copy)*

**/target/
**/.gradle/
**/.mvn/
!**/src/main/resources/static/

.idea/
.vscode/
*.iml
.DS_Store

mosquitto/data/
mosquitto/log/
mosquitto/config/regras_acesso.acl

backup/
testcontrollers/
tips.txt
service-layer/governanceApi/governanceApi/data/
.venv-nvs/
